
*.[oa]
*.l[oa]
*.edj
*.desktop

Makefile
Makefile.in

/ABOUT-NLS
/m4/*
!/m4/ac_attribute.m4
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/po/*.gmo
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-po
/stamp-h1

/src/.deps
/src/.libs
